@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Ensure no scrollbars appear */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the image cover the entire area */
    z-index: -1; /* Ensures the image is behind any other content */
  }
  